    /*----Base----*/
    html{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      box-sizing: border-box;
      font-size: 1em;
    }
    body {
      margin: 0px;
      padding: 0px; 
      height: 100%;
      background-image: url(XPwallpaper.jpg);
      background-size: cover;
    }

    /*----Navigation----*/
    .topnav {
      background-color: rgba(233,185,232,0.5);
      overflow: hidden;
    }
    .logo{
      float: left;
    }
    .topnav a {
      float: right;
      display: block;
      color: #000000;
      text-align: center;
      padding: 18px 16px;
      text-decoration: none;
      font-size: 20px;
      letter-spacing: 4px;
    }
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    .topnav a.active {
      color: black;
    }
    .topnav .icon {
      display: none;
    }

    /*----HomePage----*/
    .main{
      display: contents;
      width: 90%;
      position: absolute;
      transform: translate(-50%,-50%);
      text-align: center;
    }
    .main h3{
      padding-top: 180px;
      margin-bottom: 0px;
      font-size: 40px;
      letter-spacing: 4px;
      text-transform: uppercase;
      font-weight: normal;
    }
    .main p{
      margin-bottom: 280px;
    }
    .main a{
      text-decoration: none;
      color:rgba(184,152,199);
    }

    /*----About----*/
    .about {
      width: 80%;
      margin: auto;
      text-align: center;
      padding-top: 50px;
    }
    
    .about-text{
      flex-basis: 70%;
      border-radius: 10px;
      margin-bottom: 5%;
    }
    .about-text img{
      width: 70%;
      border-radius: 10px;
    }
    .about h1{
      margin-bottom: 0px;
      font-size: 40px;
      letter-spacing: 4px;
      text-transform: uppercase;
      font-weight: normal;
    }
    .about h3{
      font-weight: normal;
      font-size: 15px;
      margin-top: 0px;
    }
    .about a{
      color: black;
    }
    /*----Projects----*/
    .card {
      border: 2px solid rgba(184,152,199);
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 1rem;
      height: 4rem;
    }
    .card a{
      text-decoration: none;
      color: rgba(184,152,199);
      font-weight: bold;
      font-size: 20px;
    }
    .cards {
      max-width: 1200px;
      padding: 30px;
      margin: 0 auto;
      display: grid;
      grid-gap: 1rem;
    }
    
    /* 2 column */
    @media (min-width: 600px) {
      .cards { grid-template-columns: repeat(2, 1fr); }
    }
    
    /* 3 columns */
    @media (min-width: 900px) {
      .cards { grid-template-columns: repeat(3, 1fr); }
    }
    
    /*----Formulier----*/
    body .Formulier{
      max-width: 80%;
      margin: auto;
    }
    fieldset {
      border: 2px solid rgba(184,152,199);
      margin: 20px 0;
    }
    fieldset legend {
      color: rgba(184,152,199);
    }
    label,
    input,
    select {
      display: inline-block;
      margin: 10px 0;
    }
    input,
    #question,
    #questionType{
      background-color: rgba(233,185,232,0.6);
    }
    fieldset label,
    fieldset input,
    fieldset select,
    fieldset textarea {
      min-width: 320px;
      vertical-align: top;
    }
    label {
      text-align: right;
    }
    input[type="submit"] {
      width: auto;
      min-width: auto;
      margin-bottom: 100px;
    }
    /*----footer----*/
    footer{
      background-color: rgba(233,185,232, 0.5);
      position: relative;
      height: 170px;
      clear: both;
    }
    .footer-content{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    .footer-content h3{
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 0;
    }
    .footer-content li, .footer-content a{
      max-width: 500px;
      line-height: 25px;
      list-style: none;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 4px;
      color: black;
      padding-right: 20px;
    }

    /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
        float: right;
        display: block;
      }
      
    }
    @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    }
    


    